.SelectedButton {
    box-shadow: 0px 0px 15px green;
    width: 25%;
    margin: 5px;
}

.UnselectedButton {
    box-shadow: 0px 3px 5px grey;
    width: 25%;
    margin: 5px;
}

.SelectedText {
    box-shadow: 0px 0px 15px green;
}

.UnselectedText {
    box-shadow: 0px 3px 5px grey;
}

.GoodText {
    color: green;
}

.BadText {
    color: red;
}